#set ($layout = 'layout/default.vm')
#set ($pageTitle = 'Clobaframe-Web Demo page')
#set ($pageResources = ['css/index.css','js/index.js'])
#set ($metaKeywords = 'clobaframe web')
#set ($metaDescription = 'a web application template that base on clobaframe.')

## add custom header
$header.addHeader('meta', {"name":"rebots", "content":"noodp"}, false)

<div class="test-i18n">
	<h2>$msg.write('index.testI18nMessage')</h2>
	<p class="text">$msg.write('test.text2', 'WORLD!', $now)</p>
	
	<p>Change language</p>
	<ul class="action">
		<li><a href="/changelocale?locale=en">$msg.write('common.language.en')</a></li>
		<li><a href="/changelocale?locale=ja">$msg.write('common.language.ja')</a></li>
		<li><a href="/changelocale?locale=zh_CN">$msg.write('common.language.zh_CN')</a></li>
	</ul>
</div>

<div class="test-escape">
	<h2>Test text escape and formatter</h2>
	<p>HTML escape <em class="text">$esc.html($html)</em></p>
	<p>HTML paragraph escape <em class="text">$esc.htmlP($htmlP)</em></p>
	<p>Integer formatter <em class="text">$num.integer($integer)</em></p>
</div>

<!-- write custom page resource -->
$header.writeResource('jsx/helloworld.js', 'script', 'src', {'type':'text/jsx'}, true)

<script>
	(function(window){
		window.viewObject = $json.write($viewObject);
	})(this);
</script>