##set ($layout = 'layout/default.vm')
#set ($pageTitle = 'Test Page')
#set ($pageResources = ['css/index.css','js/index.js'])

<!-- Custom header, check in the page header segment -->
$headerProvider.add('meta', {"name":"rebots", "content":"noodp"}, false)

<!-- i18n -->
<section class="i18n">
	<p>locale: $locale</p>
	<p>i18n message: $msg.write('index.testI18nMessage')</p>
	<p>message with placeholder: $msg.write('test.text2', 'WORLD!', $now)</p>
</section>

<!-- Escape tool -->
<section class="escape">
	<div>HTML escape: $esc.html($html)</div>
	<div>HTML paragraph escape: $esc.htmlP($htmlP)</div>
</section>

<!-- Web resource -->
<section class="resource">
	<img src="$res.getLocation('image/loading-16x16.gif')">
</section>

<!-- Write custom page resource -->
$headerTool.writeResource('jsx/helloworld.js', 'script', 'src', {'type':'text/jsx'}, true)

<script>
	(function(window){
		// write json
		window.viewObject = $json.write($viewObject);
	})(this);
</script>