<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<!-- Page title -->
		#if ($pageTitle)
			<title>$esc.html($pageTitle)</title>
		#end
		
		<!-- Common web resource (css and javascript) -->
		$headerTool.writeResource('js/jquery-1.11.1.js')
		
		<!-- Extra web resource and custom headers -->
		$headerWriter.write()
		
		<!-- Page special style-sheet and script -->
		$headerTool.writeResources($pageResources)
	</head>
	<body>
		#parse('share/header.vm')
		$screen_content
		#parse('share/footer.vm')
	</body>
</html>