<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		#if ($pageTitle)
		<title>$esc.html($pageTitle)</title>
		#end
		
		<!-- jQuery -->
		<script src="$res.getLocation('js/jquery-1.11.1.js')"></script>
		
		<!-- Script i18n -->
		<script src="$scriptLocale.getDefaultMessageLocation()"></script>
		#set ($localMessage = $scriptLocale.getLocalMessageLocation())
		#if ($localMessage)
			<script src="$localMessage"></script>
		#end
		
		<!-- other style sheet and script -->
		#if ($pageResources)
			#foreach($resourceHeader in $pageResource.getHeaders($pageResources)) 
				$resourceHeader 
			#end
		#end
		
		<!-- other headers -->
		#if ($customHeaders)
			#foreach($customHeader in $customHeaders) 
				$customHeader 
			#end
		#end
		
		<!-- meta keywords and meta description -->
		#if ($metaKeywords)
		<meta name="keywords" content="$esc.html($metaKeywords)">
		#end
		
		#if ($metaDescription)
		<meta name="description" content="$esc.html($metaDescription)">
		#end

		<!-- for home screen icon, iphone-retina with 120 x 120 px -->
		<!-- see also: https://developer.apple.com/library/mac/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		
		<!-- favicon with 16 x 16 px, see http://www.w3.org/2005/10/howto-favicon -->
		<link rel="icon" type="image/png" href="/favicon.png">
		
		<!-- android chrome -->
		<!-- see http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android -->
		<meta name="theme-color" content="#4697d5">
		<link rel="icon" type="image/png" sizes="192x192" href="/launcher-icon-192x192.png">
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>
		#parse('share/header.vm')
		$screen_content
		#parse('share/footer.vm')
	</body>
</html>