#set ($layout = 'layout/default.vm')
#set ($pageTitle = 'Clobaframe Web Demo')
#set ($pageResources = ['css/index.css','js/index.js'])
#set ($metaKeywords = 'clobaframe web')
#set ($metaDescription = 'clobaframe web demo')

## add custom header
$headerCtx.addHeader('meta', {"name":"rebots", "content":"noodp"}, false)

<div class="test-i18n">
	<h2>$msg.write('index.testI18nMessage')</h2>
	<p class="text">$msg.write('test.text2', 'WORLD!', $now)</p>
	
	<p>Change language</p>
	<ul class="action">
		<li><a href="/changelocale?locale=en">$msg.write('common.language.en')</a></li>
		<li><a href="/changelocale?locale=ja">$msg.write('common.language.ja')</a></li>
		<li><a href="/changelocale?locale=zh_CN">$msg.write('common.language.zh_CN')</a></li>
	</ul>
</div>

<div class="test-rest">
	<h2>Test RESTful API</h2>
	<form>
		<div>
			<label>Choose a photo
				<input type="file" accept="image/*" name="file">
			</label>
		</div>
		<div>
			<label>title:
				<input type="text" name="title">
			</label>
		</div>
		<div>
			<label>description:
				<input type="text" name="description">
			</label>
		</div>
		<div>
			<input type="submit" value="Create a note">
		</div>
	</form>
	<ul class="notes">
		
	</ul>
</div>

<div>
	<h2>Test Doc</h2>
	<ul>
		<li><a href="/doc/about">$msg.write('index.about')</a></li>
		<li><a href="/doc/terms">$msg.write('index.terms')</a></li>
		<li><a href="/doc/privacy">$msg.write('index.privacy')</a></li>
	</ul>
</div>

<!-- write custom page resource -->
$header.writeResource('jsx/helloworld.js', 'script', 'src', {'type':'text/jsx'}, true)

<script>
	(function(window){
		window.viewObject = $json.write($viewObject);
	})(this);
</script>