#set ($layout = 'layout/default.vm')
#set ($pageTitle = 'Clobaframe-web Demo page')
#set ($metaKeywords = 'clobaframe web')
#set ($metaDescription = 'a simple web application template that using clobaframe.')
#set ($pageResources = ['css/index.css'])

<h1>$msg.get('test.text2', 'clobaframe-web', $now)</h1>
<div class="text"></div>

<script>
	(function(){
		var user = $json.write($user);
		$('.text').text('Test object from controller throught script: id=' + user.id + ', name=' + user.name);
	})(this);
</script>